/* Home Page */
.home__section--cards {
  width: 100%;
  height:56vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home__section--cards-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 8rem);
  flex-wrap: wrap;
  margin: 2rem;
  margin-bottom: 6rem;
}

.home__section--cards-grid {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 28rem);
  justify-items: center;
  align-items: center;
}

.title {
  text-align: center;
  margin-top: 6rem;
}

.subtitle {
  text-align: center;
  font-size: 1.5rem;
  display: block;
  width: 100%;
}

.flex-column {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column !important;
  flex-wrap: wrap;
  position: relative;
}