.footer {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-top: 0.1rem solid #ccc;
  position: fixed;
  top: 92%;
}

p {
  text-align: center;
  margin-top: 1rem;
  font-size:1.2rem;
}

.breadcrumbs {
  width: 50%;
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content:center;
  font-weight: bold;
  font-size:1.2rem;
  padding:1rem;
  border: .15rem solid #e7e5e5;
  margin:1rem auto;
  border-radius: 1rem;
  color:rgb(1, 56, 92)
}